Web_services/Account/xml-resources/web-service-references/account_management/wsdl/localhost_8080/Calculator/account_management.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Webservice/" name="account_management">
<types>
<xsd:schema>
<xsd:import namespace="http://Webservice/" schemaLocation="http://localhost:8080/Calculator/account_management?xsd=1"/>
</xsd:schema>
</types>
<message name="connection">
<part name="parameters" element="tns:connection"/>
</message>
<message name="connectionResponse">
<part name="parameters" element="tns:connectionResponse"/>
</message>
<message name="get_depo_history">
<part name="parameters" element="tns:get_depo_history"/>
</message>
<message name="get_depo_historyResponse">
<part name="parameters" element="tns:get_depo_historyResponse"/>
</message>
<message name="get_account">
<part name="parameters" element="tns:get_account"/>
</message>
<message name="get_accountResponse">
<part name="parameters" element="tns:get_accountResponse"/>
</message>
<message name="create_acc">
<part name="parameters" element="tns:create_acc"/>
</message>
<message name="create_accResponse">
<part name="parameters" element="tns:create_accResponse"/>
</message>
<message name="balance_value">
<part name="parameters" element="tns:balance_value"/>
</message>
<message name="balance_valueResponse">
<part name="parameters" element="tns:balance_valueResponse"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="get_with_history">
<part name="parameters" element="tns:get_with_history"/>
</message>
<message name="get_with_historyResponse">
<part name="parameters" element="tns:get_with_historyResponse"/>
</message>
<message name="withdrawal">
<part name="parameters" element="tns:withdrawal"/>
</message>
<message name="withdrawalResponse">
<part name="parameters" element="tns:withdrawalResponse"/>
</message>
<portType name="account_management">
<operation name="connection">
<input wsam:Action="http://Webservice/account_management/connectionRequest" message="tns:connection"/>
<output wsam:Action="http://Webservice/account_management/connectionResponse" message="tns:connectionResponse"/>
</operation>
<operation name="get_depo_history">
<input wsam:Action="http://Webservice/account_management/get_depo_historyRequest" message="tns:get_depo_history"/>
<output wsam:Action="http://Webservice/account_management/get_depo_historyResponse" message="tns:get_depo_historyResponse"/>
</operation>
<operation name="get_account">
<input wsam:Action="http://Webservice/account_management/get_accountRequest" message="tns:get_account"/>
<output wsam:Action="http://Webservice/account_management/get_accountResponse" message="tns:get_accountResponse"/>
</operation>
<operation name="create_acc">
<input wsam:Action="http://Webservice/account_management/create_accRequest" message="tns:create_acc"/>
<output wsam:Action="http://Webservice/account_management/create_accResponse" message="tns:create_accResponse"/>
</operation>
<operation name="balance_value">
<input wsam:Action="http://Webservice/account_management/balance_valueRequest" message="tns:balance_value"/>
<output wsam:Action="http://Webservice/account_management/balance_valueResponse" message="tns:balance_valueResponse"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://Webservice/account_management/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://Webservice/account_management/depositResponse" message="tns:depositResponse"/>
</operation>
<operation name="get_with_history">
<input wsam:Action="http://Webservice/account_management/get_with_historyRequest" message="tns:get_with_history"/>
<output wsam:Action="http://Webservice/account_management/get_with_historyResponse" message="tns:get_with_historyResponse"/>
</operation>
<operation name="withdrawal">
<input wsam:Action="http://Webservice/account_management/withdrawalRequest" message="tns:withdrawal"/>
<output wsam:Action="http://Webservice/account_management/withdrawalResponse" message="tns:withdrawalResponse"/>
</operation>
</portType>
<binding name="account_managementPortBinding" type="tns:account_management">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="connection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_depo_history">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_acc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="balance_value">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_with_history">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdrawal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="account_management">
<port name="account_managementPort" binding="tns:account_managementPortBinding">
<soap:address location="http://localhost:8080/Calculator/account_management"/>
</port>
</service>
</definitions>